body{
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.846;
	color: #666666;
	background-color: #F1F1F1;
	margin: 0;
}
footer{
	background-color: #EEE;
	border-top: 10px solid #BBB;
	font-size: 14px;
	padding: 10px;
	text-align: center;
}
.box-principal{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
}
.titulo{
	text-align: center;
}
.imagen-avatar{
	height: 50px;
	width: 50px;
}
.login {
	margin-top: 10%;
	max-width: 350px;
	margin: auto;
	padding: 10px 20px;
}
.icon {
	font-size: 18px;
}
nav li:hover {
	background: rgba(0,0,0,0.15);
}
th {
	text-align: center;
}
nav {
	background: #3367D6;
}